* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting variables */
:root {
    /* Colors */
    --primary-pink-darker: rgb(95, 27, 88);
    --primary-pink-dark: rgb(143, 62, 135);
    --primary-pink-med: rgb(180, 103, 173);
    --primary-pink-light: rgb(214, 145, 209);
    --primary-pink-lighter: rgb(237, 193, 234);
    --crown-yellow: rgb(254, 245, 5);
    --crown-cyan: rgb(98, 183, 201);
    /* Font sizes */
    font-size: 16px;
    --font-4xl: 6rem;
    --font-3xl: 4rem;
    --font-2xl: 3.5rem;
    --font-xl: 2.5rem;
    --font-lg: 2.25rem;
    --font-med: 1.75rem;
    --font-sm: 1.5rem;
    --font-xs: 1.25rem;
    --font-2xs: 1rem;
    --font-3xs: 0.75rem;
    --font-4xs: 0.5rem;
}

/* Styling scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--primary-pink-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-pink-med);
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-pink-light);
}

/* Initialize body styling */
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-pink-darker);
    font-family: "Nunito Sans", sans-serif;
    color: var(--primary-pink-lighter);
    transition: 0.3s;
}
/* Background image (responsive) */
.background {
    z-index: -3;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(10px) brightness(0.8);
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
}

/* Styling highlight */

::selection {
    background: var(--crown-yellow);
    color: var(--primary-pink-darker);
}

