/* Styling */

.section {
    display: none;
}

.dt-message-container {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    backdrop-filter: blur(50px);
    margin: 4rem auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.dt-title {
    text-align: center;
    font-size: var(--font-2xs);
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.dt-message {
    font-size: var(--font-3xs);
    margin-bottom: 0.65rem;
    font-weight: 300;
}
.return-button {
    margin: 0 auto;
    font-size: var(--font-3xs);
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-pink-lighter);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.75rem;
    background-color: var(--primary-pink-dark);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

@media (min-width: 425px) {
    .dt-title {
        font-size: var(--font-xs);
    }
    .dt-message {
        font-size: var(--font-2xs);
    }
    .return-button {
        font-size: var(--font-2xs);
        padding: 0.75rem;
    }
}
@media (min-width: 768px) {
    .dt-title {
        font-size: var(--font-sm);
    }
    .dt-message {
        font-size: var(--font-xs);
    }
    .return-button {
        font-size: var(--font-xs);
        padding: 0.75rem;
    }
}

@media (min-width: 1023px) {

    .dt-message-container{
        display: none;
    }
    
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        min-height: 100vh;
        background-image: linear-gradient(
            transparent,
            transparent,
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.8)
        );
    }

    .title {
        position: relative;
        text-align: center;
        font-size: var(--font-lg);
        font-weight: 700;
        margin: 4rem 0 0.5rem 0;
        padding: 0;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
        width: calc(100vw - 620px);
        min-width: 590px;
        max-width: 1100px;
        margin: 1.5rem auto;
        padding: 0;
    }

    .loading-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
    }

    .loading-text {
        text-align: center;
        font-size: 1.75rem;
        font-weight: 800;
    }

    #loading {
        width: 50px;
        height: 50px;
        border: 5px solid rgba(255,255,255,.3);
        border-radius: 50%;
        border-top-color: var(--primary-pink-lighter);
        animation: spin 0.75s ease-in-out infinite;
        -webkit-animation: spin 0.75s ease-in-out infinite;
    }

    @keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    @-webkit-keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }

    .card {
        background-color: var(--primary-pink-light);
        color: var(--primary-pink-darker);
        border-radius: 10px;
        box-shadow: 0 0 14px -2px var(--primary-pink-light);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.65rem;
        text-align: center;
        padding: 1rem;
        box-sizing: border-box;
        transition: 0.3s;
    }
    .card:hover {
        transform: scale(1.02);
        background: var(--primary-pink-lighter);
        box-shadow: 0 0 20px -2px white;
    }

    .search-bar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: calc(100vw - 620px);
        min-width: 590px;
        max-width: 1100px;
        border-radius: 0.75rem;
        padding: 0;
        font-weight: 600;
        text-align: center;
        border: none;
        border-radius: 0.75rem;
        margin: 1rem auto 0.5rem;
    }

    .search-icon {
        position: absolute;
        left: 1rem;
        height: 1.25rem;
        fill: var(--primary-pink-dark);
        display: flex;
        align-items: center;
    }

    .search {
        outline: none;
        background: transparent;
        background: var(--primary-pink-light);
        color: var(--primary-pink-darker);
        box-shadow: 0 0 14px -2px var(--primary-pink-light);
        border-radius: 0.75rem;
        font-size: var(--font-xs);
        font-weight: 600;
        text-align: center;
        border: none;
        width: 100%;
        padding: 0.75rem 0;
        transition: 0.3s;
    }
    .search::placeholder {
        color: var(--primary-pink-dark);
        font-size: var(--font-2xs);
        font-weight: 400;
    }
    .search:focus {
        box-shadow: 0 0 14px -2px white;
        background-color: var(--primary-pink-lighter);
    }

    .item-count {
        position: absolute;
        right: 1rem;
        font-size: 1rem;
        color: var(--primary-pink-dark);
        font-weight: 400;
        background-color: transparent;
    }

    /* Card contents */

    .card .thumbnail-container {
        width: 75%;
        aspect-ratio: 1;
        overflow: hidden;
        border-radius: 0.75rem;
        margin: 0.5rem auto;
        box-shadow: 0 0 20px -2px var(--primary-pink-darker);
        transition: 0.3s;
    }

    .card:hover .thumbnail-container {
        box-shadow: 0 0 15px -2px var(--primary-pink-med);
    }

    .card .thumbnail-container .thumbnail {
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter: grayscale(0.35) brightness(0.9);
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        transition: 0.3s;
    }

    .card:hover .thumbnail{
        filter: grayscale(0) brightness(1.0);
    }

    .card .beat-name {
        margin: 0.5rem auto;
        width: 90%;
        font-weight: 700;
    }

    .button {
        margin: 0.5rem auto;
        font-size: var(--font-3xs);
        font-weight: 600;
        text-decoration: none;
        color: var(--primary-pink-lighter);
        width: 60%;
        padding: 0.65rem;
        border-radius: 0.75rem;
        background-color: var(--primary-pink-dark);
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        transition: 0.3s;
    }
    .button:hover {
        background-color: var(--primary-pink-darker);
        color: var(--primary-pink-lighter);
        font-weight: 700;
        transform: scale(1.025);
    }
}

@media (min-width: 1280px) {
    .card {
        font-size: 0.75rem;
    }
}

@media (min-width: 1440px) {
    .card {
        font-size: 0.9rem;
    }
    .button {
        font-size: var(--font-2xs);
    }
}

@media (min-width: 2005px) {
    .cards-container,
    .search-bar {
        width: calc(100vw - 940px);
        max-width: 1500px;
    }

    .search,
    .search::placeholder {
        font-size: var(--font-sm);
    }
    .card {
        font-size: 1rem;
    }
    .button {
        font-size: var(--font-xs);
    }
}
