.section {
    display: none;
}

.dt-message-container {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    backdrop-filter: blur(50px);
    margin: 4rem auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.dt-title {
    text-align: center;
    font-size: var(--font-2xs);
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.dt-message {
    font-size: var(--font-3xs);
    margin-bottom: 0.65rem;
    font-weight: 300;
}
.return-button {
    margin: 0 auto;
    font-size: var(--font-3xs);
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-pink-lighter);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.75rem;
    background-color: var(--primary-pink-dark);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

@media (min-width: 425px) {
    .dt-title {
        font-size: var(--font-xs);
    }
    .dt-message {
        font-size: var(--font-2xs);
    }
    .return-button {
        font-size: var(--font-2xs);
        padding: 0.75rem;
    }
}
@media (min-width: 768px) {
    .dt-title {
        font-size: var(--font-sm);
    }
    .dt-message {
        font-size: var(--font-xs);
    }
    .return-button {
        font-size: var(--font-xs);
        padding: 0.75rem;
    }
}

@media (min-width: 1023px) {
    .dt-message-container{
        display: none;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        min-height: 100vh;
        background-image: linear-gradient(
            transparent,
            transparent,
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.8)
        );
    }

    .mesage-wrapper {
        width: fit-content;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;;
        backdrop-filter: blur(50px);
        width: calc(100vw - 620px);
        min-width: 590px;
        max-width: 750px;
        min-height: 15rem;
        margin: auto;
        padding: 2rem 4rem;
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

    }

    .title {
        text-align: center;
        font-size: var(--font-lg);
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    .message {
        font-size: var(--font-xs);
        margin-bottom: 0.65rem;
        font-weight: 300;
    }

    .message span {
        font-size: var(--font-sm);
        font-weight: 500;
    }

    .button {
        margin: 0 auto;
        font-size: var(--font-2xs);
        font-weight: 600;
        text-decoration: none;
        color: var(--primary-pink-lighter);
        width: fit-content;
        padding: 0.75rem;
        border-radius: 0.75rem;
        background-color: var(--primary-pink-dark);
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        transition: 0.3s;
    }
    .button:hover {
        background-color: var(--primary-pink-lighter);
        color: var(--primary-pink-dark);
        transform: translateY(-4px);
    }
}